[submodule "puppet/modules/augeas"]
	path = puppet/modules/augeas
	url = https://github.com/camptocamp/puppet-augeas.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
